body {
    font-family: Arial, sans-serif;
}

.section {
    display: none;
}

h1 {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
